<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carta Responsiva</title>
</head>
<body>
    <h1>Carta Responsiva de Recepción de Equipo</h1>
    <p>Yo, <%= empleado.nombre %>, con identificación <%= empleado.numero_identificacion %>, reconozco haber recibido de la empresa [Nombre de la Empresa] la siguiente computadora:</p>
    <ul>
        <li>Marca: [Marca de la computadora]</li>
        <li>Modelo: [Modelo de la computadora]</li>
        <li>Número de serie: [Número de serie]</li>
        <li>Fecha de recepción: [Fecha de entrega]</li>
    </ul>
    <p>Me comprometo a utilizar este equipo exclusivamente para fines laborales...</p>
    <p>Firma del Empleado: _______________________</p>
    <a href="/">Volver a la lista de empleados</a>
</body>
</html>
